/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}



/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/


body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5e5b64;
	text-align:center;
}


/*-------------------------
	The search input
--------------------------*/

.bar input{
	background:#fff no-repeat 13px 13px;
	border: 1px solid #ddd;
	width: 100%;
	line-height: 19px;
	padding: 11px 0;

	border-radius: 0px;
	/*box-shadow: 0 2px 8px #c4c4c4 inset;*/
	text-align: left;
	font-size: 14px;
	font-family: inherit;
	color: #738289;
	font-weight: bold;
	outline: none;
	text-indent: 20px;
}


/* Container */
div.container {
	width: 600px;
	margin: 20px auto;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div.container {
		width: 80%;
		margin: 20px auto;
	}
}

div.user-list {
	margin-top: 20px;
	overflow-y: scroll;
	height: 400px;
	width: 100%;
	position: relative;
	border: 1px solid #ddd;
}



img.avatar-image {
	border-radius: 50px;
}

ul{
	list-style: none;
	margin: 0 auto;
	text-align: left;
}

ul li{
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}

li.selectable {
	cursor: pointer;
}

ul li img{
	width:60px;
	height:60px;
	float:left;
	border:none;
}

ul li p{
	margin-left: 75px;
	/*font-weight: bold;*/
	padding-top: 12px;
	color:#6e7a7f;
}

li.selected {
	background-color: #BCED91;
}


/* Buttons */

button:focus {
    outline:none;
}

div.button-set {
	padding: 20px;
	position: relative;
	float: right !important;
}

button.select-button {
	background-color: #32CD32;
	color: white;
	box-shadow: none;
	border-radius: 0px;
	border: 0;
	width: 80px;
	height: 40px;
}


button.cancel-button {
	background-color: white;
	color: black;
	box-shadow: none;
	border-radius: 0;
	border: 1px solid;
	width: 80px;
	height: 40px;
	z-index: 1000;
}


button.disabled {
	background-color: #ddd;
	color: black;
	box-shadow: none;
	border-radius: 0px;
	border: 0;
	width: 80px;
	height: 40px;
}

/*Page title*/
h2.page-title {
	color: blue;
	float: left;
	margin-bottom: 20px;
}


/*Error message*/
.error-message {
	color: red;
	margin: auto auto auto auto;
	position: relative;
}